name: Echo Variables
on: workflow_dispatch
jobs:
  
  runner-job:
    runs-on: self-hosted
    steps:
      - name: echo vars
        run: |
          echo "github.head_ref: ${{ github.head_ref }}"
          echo "github.ref: ${{ github.ref }}"
          echo "github.ref_name: ${{ github.ref_name }}"
          echo "GITHUB_WORKSPACE: $GITHUB_WORKSPACE"
        
      - uses: actions/checkout@v4
      - name: echo 2
        run: |
          echo "github.head_ref: ${{ github.head_ref }}"
          echo "github.ref: ${{ github.ref }}"
          echo "github.ref_name: ${{ github.ref_name }}"
          echo "GITHUB_WORKSPACE: $GITHUB_WORKSPACE"

